.heading-group-h1{
  padding: 5px;
  padding-left:20px;
}
.site-header{
  background-color: #FFE9AD;
}
.icon-menu{
  float:right;
  font-size: 50px;
}
h2{
  margin: 30px 0px 10px 0px;
  font-size: 25px;
}
p{
  line-height: 1.3;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
nav ul{
  padding-left: 0px;
  padding-bottom: 20px;
}
nav li{
  font-size: 22px;
  list-style: none;
  padding:12px 0px 12px 5px;
}
main{
  padding: 0px 20px 0px 20px;
}
address{
  font-weight: bold;
  display:inline-block;
}
.byline, nav li, a{
  color: grey;
  text-decoration: none;
}
@media all and (min-width: 480px){
  nav li{
    display:inline-block;
    padding-left:15px;
  }
  nav ul{
    padding-left:15px;
  }
  img{
    float:right;
  }
  .icon-menu{
    display:none;
  }

}

